nav {
    top: 5rem;
    position: fixed;
}


ul {
    list-style-type: none;
    text-align: left;

    li {
        width: 8rem;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    
    a {
        transform: translateX(20px);
        color: #fff;
    }

    mark {
        background-color: #000;
        color: #fff;
        font-weight: 400;
        display: inline-block;
        line-height: 0.1em;
        padding-bottom: 0.5em;
        transition: 0.5s ease-out;
        -webkit-transition: 0.5s ease-out;
    }

    li:hover {
        a {
            color: #fff;
        }

        mark {
            background-color: #25C7BA;
        }

    }
}

@media (max-width: 1024px) {
    nav {
        margin-top: 8%;
        position: inherit;
    }
    ul {
        margin-left: 0;
        padding-left: 0;
        text-align: center;
        li{
            display: inline;
            padding-right: 3%;
            padding-left: 3%;
        }
    }
}