.HomeContainer {
    margin: 0 auto;
    height: 100vh;
}

.AboutMe {
    height: 75%;
    vertical-align: middle;
}

.Cover {
    height: 65%;
    margin-right: 3%;
}

@media (max-width: 1050px) {
    .AboutMe {
        height: 100%;
    }
    .Cover {
        height: 70%;
        margin-right: 0%;
        width: 90%;
    }
}