.HomeContainer {
    margin: 0 auto;
    height: 100vh;
}

.AboutMe {
    height: 65%;
    vertical-align: middle;
}

.Cover {
    height: 65%;
    margin-right: 3%;
}

@media (max-width: 1050px) {

    .AboutMe {
        // padding-top: 10%;
        height: 100%;
    }
    .Cover {
        height: 70%;
        margin-right: 0%;
        width: 90%;
    }
}


// Min-width: 320px (smaller phone viewpoints)
// Min-width: 480px (small devices and most phones)
// Min-width: 768px (most tablets)
// Min-width: 992px (smaller desktop viewpoints)
// Min-width: 1200px (large devices and wide screens)