.HomeContainer {
    margin: 0 auto;
    height: 100vh;
}

.AboutMe {
    height: 65%;
    vertical-align: middle;
}

.Cover {
    height: 65%;
    margin-right: 3%;
}

@media (max-width: 1024px) {

    .AboutMe {
        height: 100%;
    }
    .Cover {
        height: 500px;
        margin: 0;
    }
}