.BriefButton {
    // min-width: 80%;
    // min-height: 80%;
    // max-width: 80%;
    // max-height: 80%;
    // position: absolute;
    // top: 50%;
    // // left: 50%;
    // -webkit-transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
    text-align: center;

    h2 {
        color: white;
        padding: 0 10% 0 10%;
    }
}





// Modal Styling

.ModalImage {
    text-align: center;
    img {
        margin: 0;
    }
}

.Description {
    color: #000;
    font-weight: 500;
    mark {
        font-size: 2rem;
        background-color: #25C7BA;
        font-weight: 400;
        display: inline-block;
        line-height: 0.1em;
        padding-bottom: 0.5em;
        transition: 0.5s ease-out;
        -webkit-transition: 0.5s ease-out;
    }
}

.Description:hover {
    mark {
        background-color: #E04EFD;
        line-height: 0.1em;
        padding-bottom: 0em;
        padding-top: 0.5em;
    }
}

.Links a {
    color: #25C7BA !important;
}