.Card {
    height: 20rem;
    margin-top: 10%;

    .CardImage {
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
    
    .Overlay {
        padding: 5%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: .5s ease;
        // background-color: #25C7BA;
    }
}


.Card:hover {

    img {
        opacity: 0.25;
    }

    .Overlay {
        opacity: 1;
    }
}